#root, body{
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}


/* BUTTONS */

.buttonOnLight{
  color: black;
  background-color: white;
  border: 1px solid black;
  font-weight: 500;
  font-size: 1.3rem;
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,1);
  padding: 0 10px;

}

.buttonOnLight:hover{
  color: white;
  background-color: black;
  scale: 1.2;
  transition: 0.4s;
  border: 1px solid white;
 


}

.buttonOnDark{
  color: black;
  background-color: white;
  border: 1px solid black;
  font-weight: 500;
  padding: 10px;
  box-shadow: -5px 5px 0px 0px rgb(255, 255, 255);

}


.buttonOnDark:hover{
  color: white;
  background-color: black;
  scale: 1.2;
  transition: 0.4s;
  border: 1px solid white;
}




.containerWidth{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
}
.containerWidth2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
 
}



@media only screen and (max-width: 600px){
	.skilltabs{
        flex-direction: column;
        padding: 20px;
       
    }
    .skilltab{
    
      width: 100%;
    }

    .skills h2{
        display: none;
    }


    .skilltab:nth-child(1){
      position: initial;
      top: 0;
      margin-bottom: 20px;

    }

    .skilltab:nth-child(2){
      position: initial;
      top: 0;
      margin: 0;

    }



    .skilltab:nth-child(3){
      position: initial;
      top: 0;
      margin-top: 20px;
    }

    .containerWidth{
      flex-direction: column;
      width: 100%;
      padding: 50px;
    }

    .entrance{
      flex-direction: column;
    }

    .tabPanelP{
      border: none;
      width: 100%;
      margin-bottom: 20px;
      color: white;
    }
   
    .scrollButtons{
      color: aqua;
    }

    .work{
      padding: 50px 0;
    }



  
}

@media only screen and (max-width: 1000px){
  .about{
    padding: 50px;
  }
}
