#root, body{
  font-family: 'IBM Plex Mono', monospace;
  box-sizing: border-box;
}


/* BUTTONS */

.buttonOnLight{
  color: black;
  background-color: white;
  border: 1px solid black;
  font-weight: 500;
  font-size: 1.3rem;
  box-shadow: -5px 5px 0px 0px rgba(0,0,0,1);
  padding: 0 10px;

}

.buttonOnLight:hover{
  color: white;
  background-color: black;
  scale: 1.2;
  transition: 0.4s;
  border: 1px solid white;
 


}

.buttonOnDark{
  color: black;
  background-color: white;
  border: 1px solid black;
  font-weight: 500;
  padding: 10px;
  box-shadow: -5px 10px 0px 0px rgb(255, 255, 255);

}


.buttonOnDark:hover{
  color: white;
  background-color: black;
  scale: 1.2;
  transition: 0.4s;
  border: 1px solid white;
}




